{
  "HOMEASSISTANT_API_TOKEN": "GFXuw8q4gYPBNaXAisHXWx2DLZZPGGWdM7rW.Btt6ckscMykdBe3GmXRNHa832JVpzysqtzn2neShn2wMX3R3LctdA3PWdQTSbWzb5CqUeWZgJ6YdDj5MnUB3ADjVxdJVyNRNcENQZ6.947PfNNLA2epYwDmJrD6knArGwzzRRvkZx-27fk38fk2",
  "HOMEASSISTANT_API_URL": "https://homeassistant.your_domain.com/api/",
  "JARVIS_API_KEY": "uRFp&kacd%xdKiRc3R%LnxmhKNs&$mw4cw6WMMsLBLYBK^NCct*GG3hCJkzSVFkwrfF4WF&!*A$sJb8BT9bd*LN6v@ip^QAxM!rqiN*^k*ULmeb3yR2TSt4i#9KcCkMj6",
  "SPOTIFY_CLIENT_ID": "68vz9mkhukrr28jjtpj6k3bscpdoitpg",
  "SPOTIFY_CLIENT_SECRET": "bf9yzcmhcck897935tq77kwmpi5cqqkb"
}